/* Variaveis */

:root {
  /* container width */
  --minWidth: 80vw;

  /* font */
  --fontFamP: "Calibri", sans-serif;
  --fontFamTitulo: "Baskervville", serif;
  --fontFamQuote: "Regalhisa";
  --fontColCinza: #444;
  --fontSize1: 1.25rem;
  --fontSize2: 1.8rem;
  --fontSize3: 2.75rem;

  /* colors */
  --verdeNoventa: #127e7b;
  --bodyColor: #f8f8f8;

  /* Styles */
  --gap: 8px;
}

/* Global Styles */
body {
  background-color: var(--bodyColor);
}
p {
  color: var(--fontColCinza);
  font-family: var(--fontFamP);
  font-size: var(--fontSize1);
  line-height: 1.5;
}
h2 {
  color: var(--verdeNoventa);
  font-family: var(--fontFamTitulo);
  font-weight: 400;
  font-size: var(--fontSize3);
  padding: 0;
  margin: 0;
}

.container {
  max-width: var(--minWidth);
  margin: 0 auto;
}
.icons {
  font-size: 45px;
  color: var(--verdeNoventa);
  cursor: pointer;
}
.btn {
  border-radius: 30px;
  background-color: var(--verdeNoventa);
  border: none;
  outline: 0;
  cursor: pointer;
  padding: var(--gap) calc(var(--gap) * 4) var(--gap) calc(var(--gap) * 4);
  font-size: var(--fontSize1);
  font-family: var(--fontFamP);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: white;
  min-width: min-content;
}
