.wrapper {
  display: grid;
  grid-template-columns:
    1fr
    min(var(--minWidth), 100%)
    1fr;
  grid-column-gap: 32px;
  row-gap: var(--gap);
}

.wrapper > * {
  grid-column: 2;
}
.full-bleed {
  /* width: 100%; */
  grid-column: 1 / -1;
}

.grid-2-container {
  display: grid;
  grid-template-columns: repeat(
    2,
    minmax(calc(var(--maxWidth) / 4), calc(var(--maxWidth) / 2))
  );
  justify-content: center;
}
