@media only screen and (max-width: 1600px) {
  p.endereco {
    padding-top: 0;
  }
}

@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 1200px) {
  :root {
    --minWidth: 85vw;
  }
  .menu {
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 0;
    right: 0;
    background: var(--verdeNoventa);
    height: 100vh;
    width: 100vw;
    padding: var(--padding);
    transform: translateX(100%);
    z-index: 4;
  }
  .menu li {
    padding: 8px;
  }
  .menu.is-active a {
    color: white;
  }
  .mobile-menu {
    display: block;
  }
  .passaro-2 {
    max-width: 35%;
  }
  .ctt-path {
    display: none;
  }
  .header {
    justify-content: center;
  }
  .depoimentos .custom-arrows {
    width: 58vw;
  }
  .investimento {
    grid-template-columns: 0.6fr 1.4fr 0.1fr;
  }
  .contato .endereco {
    max-width: 25vw;
  }
  .contato .logo {
    padding-top: 0;
  }
  .modal {
    height: 100%;
    width: 100%;
    place-content: center;
  }
}
@media only screen and (max-width: 900px) {
  .header,
  .banner_item {
    grid-template-columns: minmax(300px, 1fr);
  }
  .quem-sou-content {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
  .quote blockquote {
    max-width: var(--minWidth);
  }
  .depoimentos .custom-arrows {
    width: 60vw;
  }
  .investimento {
    grid-template-columns: 0.3fr 1.7fr;
  }
  .apresentacao {
    grid-template-columns: repeat(8, 1fr) 0.8fr;
    grid-template-rows: repeat(5, 1fr);
  }
  .apresentacao-img {
    grid-column: 1/4;
  }
  .apresentacao-conteudo {
    grid-column: 4/9;
  }
  .apresentacao-passaro {
    grid-column: 2/7;
    grid-row: 2;
    padding-top: calc(var(--gap) * 4);
  }
  .passaro-2 {
    top: -54px;
  }
  .contato .endereco {
    max-width: 20vw;
  }
  .modal ul {
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 720px) {
  footer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "titulo ..."
      "nav social"
      "ctt ctt"
      "... logo";
  }
}
@media only screen and (max-width: 600px) {
  a,
  li,
  p,
  blockquote,
  cite,
  textarea,
  .apresentacao p,
  .quem-sou p {
    --fluid-type-max: 1rem;
  }
  .header nav {
    align-items: center;
  }
  .menu {
    gap: calc(var(--gap) * 1);
  }
  .quebra {
    display: none;
  }
  .depoimento {
    max-width: var(--minWidth);
    margin: 0 auto;
  }
  .depoimento p {
    max-width: calc(var(--minWidth) - 15vw);
    margin: 0 auto;
  }
  .depoimentos .custom-arrows {
    width: var(--minWidth);
  }
  .apresentacao {
    grid-template-columns: 1fr;
    width: var(--minWidth);
    margin: 0 auto;
  }
  .apresentacao-img {
    display: none;
  }
  .apresentacao-conteudo {
    padding: calc(var(--gap) * 4) 0;
    grid-column: 2;
  }
  .apresentacao-conteudo h3 {
    max-width: 100%;
    margin: 0 auto calc(var(--gap) * 4) auto;
  }
  .apresentacao-passaro {
    grid-column: 1;
    grid-row: 1;
  }
  .investimento {
    grid-template-columns: minmax(300px, 1fr);
    grid-template-areas:
      "titulo"
      "subtitulo"
      "conteudo";
  }
  .investimento h3:nth-child(3) {
    --fluid-type-max: 1.1rem;
    font-weight: 400;
  }
  .servicos p {
    max-width: calc(var(--minWidth) - 15vw);
    margin: 0 auto;
  }
  .servicos .custom-arrows {
    width: calc(var(--minWidth));
  }
  .contato {
    grid-template-columns: 1fr;
    grid-template-areas:
      "titulo"
      "contato"
      "end"
      "logo";
    gap: 2rem;
    max-width: var(--minWidth);
    margin: 0 auto;
  }
  .contato .endereco {
    max-width: 80%;
    padding: 0;
  }
  .modal li {
    width: unset;
  }
}
@media only screen and (max-width: 360px) {
}
