@media only screen and (max-width: 1600px) {
  p.endereco {
    padding-top: 0;
  }
}
@media only screen and (max-width: 1200px) {
  :root {
    --minWidth: 85vw;
  }
  .header {
    justify-content: center;
  }
  .menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    right: 0;
    background: var(--verdeNoventa);
    height: 100vh;
    width: 100vw;
    transform: translateX(100%);
    z-index: 4;
  }
  .menu.is-active {
    padding-top: 10vh;
  }
  .menu.is-active a {
    padding: 8px;
    color: white;
  }
  .menu-social {
    display: flex;
    place-content: center;
    gap: 1.5rem;
  }
  #hamburger-icon {
    display: block;
  }
  .apresentacao {
    grid-template-columns: 1fr;
    grid-template-areas: "img ctt";
  }
  .apresentacao #container {
    top: 18%;
    left: -17%;
  }
  .apresentacao-passaro {
    max-width: 60%;
  }
  .apresentacao #container,
  .investimento .container {
    display: none;
  }
  .servicos .custom-arrows {
    width: var(--minWidth);
  }
  .ctt-path {
    display: none;
  }
  .depoimentos .custom-arrows {
    width: 58vw;
  }
  .header {
    justify-content: center;
  }
  .investimento {
    grid-template-columns: 0.6fr 1.4fr 0.1fr;
  }
  .contato .endereco {
    max-width: 25vw;
  }
  .contato .logo {
    display: none;
  }
  .modal {
    min-height: 100%;
    max-height: 100vh;
    width: 100%;
    place-content: center;
  }
  .modal ul {
    max-height: 500px;
    overflow-y: auto;
  }
}
@media only screen and (max-width: 900px) {
  .header,
  .banner_item {
    grid-template-columns: minmax(300px, 1fr);
  }
  .quem-sou-content {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
  .quote blockquote {
    max-width: var(--minWidth);
  }
  .depoimentos .custom-arrows {
    width: 60vw;
  }
  .investimento {
    grid-template-columns: 0.3fr 1.7fr;
  }
  .apresentacao-img {
    display: none;
  }
  .contato .endereco {
    max-width: 20vw;
  }
  .modal ul {
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 720px) {
  footer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "titulo ..."
      "nav social"
      "ctt ctt"
      "... logo";
  }
}
@media only screen and (max-width: 600px) {
  a,
  li,
  p,
  blockquote,
  cite,
  textarea,
  button,
  .apresentacao p,
  .quem-sou p {
    --fluid-type-max: 1rem;
  }
  h1,
  h2,
  h3,
  .servicos li h3 {
    --fluid-type-max: 1.5rem;
  }
  .header nav {
    align-items: center;
  }
  .quebra {
    display: none;
  }
  .depoimento {
    max-width: var(--minWidth);
    margin: 0 auto;
  }
  .depoimento p {
    max-width: calc(var(--minWidth) - 15vw);
    margin: 0 auto;
  }
  .depoimentos .custom-arrows {
    width: var(--minWidth);
  }
  .apresentacao {
    grid-template-columns: 1fr;
    width: var(--minWidth);
  }
  .apresentacao,
  .apresentacao p {
    margin: 0 auto;
  }
  .apresentacao-img {
    display: none;
  }
  .apresentacao-conteudo {
    padding: calc(var(--gap) * 4) 0;
  }
  .apresentacao-conteudo h3 {
    max-width: 100%;
    margin: 0 auto calc(var(--gap) * 4) auto;
  }
  .investimento {
    grid-template-columns: minmax(300px, 1fr);
    grid-template-areas:
      "titulo"
      "subtitulo"
      "conteudo";
  }
  .investimento h3:nth-child(3) {
    --fluid-type-max: 1.1rem;
    font-weight: 400;
  }
  .servicos p {
    max-width: calc(var(--minWidth) - 15vw);
    margin: 0 auto;
  }
  .contato {
    grid-template-columns: 1fr;
    grid-template-areas:
      "titulo"
      "contato"
      "end"
      "logo";
    gap: var(--padding);
    max-width: var(--minWidth);
    margin: 0 auto;
  }
  .contato .endereco {
    max-width: 64%;
    padding: 0;
  }
  .modal li {
    width: unset;
  }
}
