/* RESET */
* {
  box-sizing: border-box;
}

body,
p,
h1,
ul,
li,
blockquote {
  padding: 0px;
  margin: 0px;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Vollkorn", Georgia, Serif;
}
li {
  list-style: none;
}
a {
  /* background-color: ;
  color: ;
  text-align: ; */
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s;
}
a:hover {
  opacity: 0.6;
}

img {
  display: block;
  width: 100%;
  /* image-rendering: pixelated; */
}

/* GRID GERAL */
.container {
  grid-template-columns: repeat(2, 1fr);
  display: grid;
  margin: 0 auto;
  max-width: 1640px;
  /* grid-auto-rows: 1fr; */
}
.col-span {
  grid-column: 1 / -1;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
}
.col-1 {
  grid-column: 1;
}
.col-2 {
  grid-column: 2;
}
.row-span {
  grid-row: span 2;
  align-self: center;
}

/* HEADER */
.header {
  background: tomato;
  height: 20vh;
  padding-top: 10px;
  align-items: center;
}
.header a {
  color: #14817f;
}
.logo img {
  max-width: 200px;
}

.header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.header nav a {
  font-size: 1.4em;
  display: block;
  padding: 0.8rem;
  text-transform: lowercase;
}
.menu {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

/* INTRODUCAO */
.introducao-img {
  height: 80vh;
  background: url(../img/banner-introducao.png) no-repeat center;
  background-size: cover;
}
.introducao-container {
  height: 80vh;
}

.introducao-container p {
  text-align: center;
  font-size: 2.3em;
  line-height: 1;
  color: #127e7b;
  align-self: center;
}

/* QUEBRA */
.quebra {
  background: url(../img/quebra-linha.png) no-repeat center;
  background-size: cover;
  height: 300px;
  margin: 0px auto;
}

/* QUEM-SOU */
.quem-sou {
  gap: 2rem;
  margin-bottom: 40px;
}
.quem-sou h2 {
  text-align: center;
  padding: 2rem;
  font-size: 2.5rem;
  color: #127e7b;
  letter-spacing: 62;
  line-height: 1.2;
}
.quem-sou p {
  padding-right: 5rem;
  font-size: 1.75em;
  line-height: 1.5;
  letter-spacing: 28;
  color: #127e7b;
}
.quem-sou img {
  max-width: 100%;
}

/* QUOTE */
.quote-bg {
  height: 350px;
  background-color: #127e7b;
}
.quote {
  height: 350px;
  align-self: center;
}
.quote-bg blockquote {
  grid-auto-flow: row;
  padding: 20px;
  font-size: 3.5em;
  color: white;
}
.teste {
  align-self: center;
}
