:root {
  --containerWidth: 960px;
  --verdeNoventa: #14817f;
}

/* RESET */
* {
  box-sizing: border-box;
}

body,
p,
h1,
ul,
li,
blockquote {
  padding: 0px;
  margin: 0px;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Vollkorn", Georgia, Serif;
}
li {
  list-style: none;
}
a {
  /* background-color: ;
  text-align: ; */
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s;
}
a:hover {
  opacity: 0.6;
}

img {
  display: block;
  width: 100%;
  /* image-rendering: pixelated; */
}
p,
a,
h1,
h2,
h3,
h4 {
  color: var(--verdeNoventa);
}

/* GRID GERAL */
.container {
  grid-template-columns: repeat(2, 1fr);
  display: grid;
  margin: 0 auto;
  max-width: var(--containerWidth);
  background-color: rgb(0, 0, 0, 0.1);
}
.col-span {
  grid-column: 1 / -1;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
}
.col-1 {
  grid-column: 1;
}
.col-2 {
  grid-column: 2;
}
.row-span {
  grid-row: span 2;
  align-self: center;
}

/* HEADER */
.header-bg {
  background: tomato;
  height: 20vh;
  align-items: center;
}
.header {
  grid-template-rows: 20vh;
  justify-content: space-between;
  align-items: center;
}
.logo {
  color: var(--verdeNoventa);
  max-width: 180px;
}
.menu {
  color: var(--verdeNoventa);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  font-size: 1.4em;
  text-transform: lowercase;
}
.menu ul {
  display: flex;
  gap: 1rem;
}

/* INTRODUCAO */
.introducao-bg {
  height: 80vh;
  background: url(../img/banner-introducao.png) no-repeat center;
  background-size: cover;
}
.introducao-container {
  grid-template-rows: 80vh;
}

.introducao-container p {
  text-align: center;
  font-size: 2.3em;
  line-height: 1;
  color: #127e7b;
  align-self: center;
}

/* QUEBRA */
.quebra-img {
  background: url(../img/quebra-linha.png) no-repeat center;
  background-size: cover;
}
.quebra {
  grid-template-rows: 300px;
  margin: 0px auto;
}

/* QUEM-SOU */
.quem-sou {
  gap: 2rem;
  padding-bottom: 50px;
  grid-template-rows: minmax(000px, 1fr);
}
.quem-sou h2 {
  text-align: center;
  font-size: 2.5rem;
  color: #127e7b;
  letter-spacing: 1px;
  line-height: 1.2;
}
.quem-sou p {
  padding-right: 5rem;
  font-size: 1.75em;
  line-height: 1.5;
  letter-spacing: 28;
  color: #127e7b;
}
.quem-sou img {
  max-width: 100%;
}

/* QUOTE */
.quote-bg {
  background-color: #127e7b;
}
.quote {
  grid-template-rows: minmax(40px, 350px);
}
.citacao {
  align-self: center;
  padding: 30px 200px;
  font-size: 2.5em;
  color: white;
}
.citacao cite {
  font-style: normal;
}
