@import url(reset.css);
@import url(utilities.css);

:root {
  --maxWidth: 80vw;
  --verdeNoventa: #14817f;
}

body {
  min-block-size: 100vh;
}

.header {
  height: 20vh;
  background: tomato;
}

.logo {
  max-width: 180px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  
  padding: 0 2vmin;
}

.menu ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1ch;
}

.introducao {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: 1fr repeat(2, min(calc(var(--maxWidth) / 2), 50%)) 1fr;
  place-items: center;
  min-height: 80vh;

  background: url('../img/banner-introducao.png') no-repeat center;
  background-size: cover;
}

.introducao-container {
  padding: 2ch 0 1ch;
}

.introducao-container p {
  color: var(--verdeNoventa);
  font-size: 2.3em;
  line-height: 1;
  text-align: center;
}

.introducao-container p:first-of-type {
  margin-bottom: 2ch;
}

.quebra {
  background: url(../img/quebra-linha.png) no-repeat center;
  background-size: cover;
  height: 300px;
}

.quem-sou {
  width: 100%;
  padding: 1ch 0 2ch;

  display: grid;
  gap: 1ch;
  grid-template-columns: 1fr;
  grid-template-rows: min-content;
  place-content: start center;
}

.quem-sou p {
  width: 100%;
}

.quem-sou p:first-child {
  grid-row: 1 / 3;
}

.quote {
  min-height: 20vh;
  background-color: var(--verdeNoventa);
}

.quote .center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1ch 0;

  color: white;
  font-size: 2.5em;
  padding: 2ch 0;
}

.quote cite {
  font-style: normal;
}

@media screen and (min-width: 680px) {
  .quem-sou {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 800px) {
  .introducao {
    grid-template-columns: 1fr min(100%, var(--maxWidth)) 1fr;
  }
}

@media screen and (max-width: 520px) {
  .menu {
    justify-content: space-around;
  }
}