html,
html * {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.header {
  background-color: transparent;
}
.header .container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 20vh;
}
.logo {
  width: 180px;
}
.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 2ch;
  padding: 10px;
}

/* introducao */
.introducao {
  gap: 0 2ch;
  align-items: center;
  background-image: url(../img/banner-introducao.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 1.7em;
  height: 80vh;
  text-align: center;
}
.introducao p + p {
  padding-top: 2ch;
}

/* quebra */
.quebra {
  background: url(../img/quebra-linha.svg) no-repeat center;
  height: 315px;
  margin: 10px 0;
}

/* quem-sou */
.quem-sou {
  gap: 0 8ch;
  height: 60%;
  font-size: 1.2em;
  padding-bottom: 4ch;
}
.quem-sou h2 {
  text-align: center;
  font-size: 1.3em;
}
.quem-sou p + p {
  padding-top: 2ch;
}
.quem-sou .col-2 p {
  padding-bottom: 2ch;
}
.quem-sou .col-2 img {
  max-width: 70ch;
}
/* quote */
.quote {
  background-color: var(--verdeNoventa);
  height: 250px;
  text-align: center;
  font-size: 1.75em;
}
.quote .container {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 2ch;
}
.quote cite {
  font-style: normal;
}

/* depoimentos */
.depoimentos {
  height: 360px;
  padding: 0 4ch;
}
.depoimentos .container {
  display: flex;
  flex-direction: column;
  place-items: center;
}
.depoimentos-txt {
  display: flex;
}

/* apresentacao */
.apresentacao {
  background-image: url(../img/apresentacao.jpg);
  max-width: 100%;
  height: 1297px;
}
/* contato */
.contato {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  background-image: url(../img/contato.jpg);
  height: 800px;
  width: 100%;
  place-items: center;
  align-self: center;
}
/* selos */
.selos {
  background-image: url(../img/selos.svg);
  background-repeat: no-repeat;
  height: 150px;
}
