body {
  padding: 0;
  margin: 0;
}
.banner_item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: min-content;
  place-content: center;
  height: 85vh;
}
.banner_item > * {
  grid-column: 1;
}
