.container {
  display: grid;
  grid-template-columns: 1fr min(100%, var(--maxWidth)) 1fr;
  grid-auto-rows: min-content;
  grid-template-rows: auto;
}

.fullbled {
  grid-column: 1 / -1;
}

.center {
  grid-column: 2 / 3;
}

.title {
  text-align: center;
}