/* header */
.header-bg {
  background-color: var(--bodyColor);
  width: 100%;
  min-height: 20vh;
  position: fixed;
  top: 0;
  z-index: 10;
}
.header {
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  align-items: flex-end;
  justify-content: space-between;
  height: 100%;
  padding-top: calc(var(--gap) * 2);
  padding-bottom: calc(var(--gap) * 2);
}
.logo {
  max-width: 12rem;
}
.menu {
  color: var(--verdeNoventa);
  display: flex;
  font-family: var(--fontFamP);
  font-size: var(--fontSize2);
  gap: calc(var(--gap) * 6);
  letter-spacing: 2px;
  justify-content: flex-end;
  text-transform: lowercase;
}
.menu li a {
  padding: var(--gap);
}

/* banner */
.banner-bg {
  background-image: url(img/banner-img@2x.jpg);
  background-color: var(--bodyColor);
  background-repeat: no-repeat;
  background-size: cover;
}
.banner {
  margin-top: 20vh;
  display: grid;
  grid-template-columns: 0.1fr 1fr 1fr 0.1fr;
  column-gap: calc(var(--gap) * 4);
  align-items: center;
  min-height: 80vh;
  text-align: center;
}
.banner p {
  color: var(--verdeNoventa);
  font-size: var(--fontSize2);
}
.banner p + p {
  margin-top: var(--gap);
}
.banner span:last-of-type {
  grid-column: 4;
}

/* quebra */
.quebra {
  display: grid;
  align-items: flex-end;
  background-image: url(img/linha.svg);
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 32vh;
  min-width: 100%;
  margin-top: calc(var(--gap) * 4);
}
/* quem sou */
.quem-sou {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: calc(var(--gap) * 8);
  min-height: 80vh;
}
.quem-sou > div {
  padding: 0 calc(var(--gap) * 4);
}
.quem-sou h2 {
  margin-bottom: calc(var(--gap) * 4);
  text-align: center;
}
.quem-sou p + p {
  padding-top: calc(var(--gap) * 3);
}
.quem-sou p:nth-child(2) {
  padding-bottom: calc(var(--gap) * 3);
}
.quem-sou_img {
  display: flex;
  place-items: center;
  border-radius: 3px;
  padding: 0;
  max-width: 80%;
}

/* quote */
.quote-bg {
  background-color: var(--verdeNoventa);
  color: white;
  text-align: center;
}
.quote {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: calc(var(--gap) * 2);
  max-width: 60%;
  height: 100%;
  font-size: var(--fontSize2);
}
.quote blockquote {
  font-family: var(--fontFamTitulo);
}
.quote cite {
  font-family: var(--fontFamP);
  font-size: calc(var(--fontSize2) - 0.2rem);
  font-style: normal;
}
/* --------------- depoimentos ---------------*/
.depoimentos {
  margin-top: calc(var(--gap) * 4);
  min-height: 30vh;
  max-width: 100%;
}
.depoimentos h2 {
  text-align: center;
  margin-bottom: calc(var(--gap) * 4);
}
.depoimento {
  display: flex;
  flex-direction: column;
  font-size: calc(var(--fontSize1) + 0.2rem);
  justify-content: center;
  font-family: var(--fontFamP);
}
.depoimento blockquote {
  text-align: center;
  color: var(--fontColCinza);
}
.depoimento cite {
  margin-top: calc(var(--gap) * 2);
  color: var(--verdeNoventa);
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  align-self: flex-end;
}

/* apresentação */
.apresentacao {
  margin-top: calc(var(--gap) * 4);
  display: grid;
  grid-template-columns: repeat(8, 1fr) 1fr;
  grid-template-rows: 1.5fr repeat(4, 1fr) 0.3fr;
}
.apresentacao p {
  font-size: calc(var(--fontSize1) + 0.2rem);
}
.apresentacao-img {
  min-height: 80vh;
  background-image: url(img/apresentacao@2x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  grid-column: 1/5;
  grid-row: 1/-1;
}
.apresentacao-conteudo {
  grid-column: 5/9;
  grid-row: 1/-1;
  padding-left: calc(var(--gap) * 8);
  align-self: center;
}
.apresentacao-conteudo h2 {
  margin-bottom: calc(var(--gap) * 6);
}
.apresentacao-passaro {
  background-image: url(img/apresentacao-passaro@2x.png);
  background-repeat: no-repeat;
  background-size: contain;
  grid-column: 2/6;
  grid-row: 2/6;
}

/* servicos */
.servicos {
  display: grid;
  grid-auto-flow: row;
  place-items: center;
  margin-top: calc(var(--gap) * 4);
  max-width: 100%;
  min-height: 80vh;
  overflow: hidden;
}
.servicos-img {
  background-image: url(img/servicos-img.svg);
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100%;
  height: 400px;
  margin-top: calc(var(--gap) * 4);
}
.servicos ul li {
  margin-left: calc(var(--gap) * 0);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: calc(var(--gap) * 10);
  place-content: center;
}
.servicos .titulo {
  text-align: center;
}

/* -------------- Investimento profissional -------------- */
.investimento-bg {
  margin-top: calc(var(--gap) * 4);
  background-color: var(--verdeNoventa);
}
.investimento {
  min-height: 70vh;
  display: grid;
  grid-template-columns: 0.6fr 1.3fr 1fr;
  column-gap: calc(var(--gap) * 5);
  place-items: center;
}
.investimento h2,
.investimento p {
  color: white;
}
.investimento .col-1 {
  font-weight: bold;
  font-size: var(--fontSize2);
}
.investimento .btn {
  color: var(--fontColCinza);
  background-color: white;
  place-self: center;
  margin-top: calc(var(--gap) * 2);
}
.investimento .col-2 {
  display: flex;
  flex-direction: column;
  gap: calc(var(--gap) * 3);
}

/* -------------- media and screen -------------- */
@media (max-width: 960px) {
  .header {
    grid-template-columns: 1fr;
    place-items: center;
  }
  .menu {
    padding-top: calc(var(--gap) * 2);
  }
  .banner {
    grid-template-columns: 0.1fr 1fr 0.1fr;
  }
  .banner span:last-of-type {
    grid-column: 3;
  }
  .quem-sou {
    grid-template-columns: 1fr;
    margin-bottom: calc(var(--gap) * 8);
  }
  .apresentacao {
    grid-template-columns: repeat(8, 1fr) 0.8fr;
    grid-template-rows: 1fr repeat(4, 1fr) 1fr;
  }
  .apresentacao-img {
    grid-column: 1/4;
  }
  .apresentacao-conteudo {
    grid-column: 4/9;
  }
  .apresentacao-passaro {
    grid-column: 1/5;
  }
}
