/* header */
.header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;

  background-color: var(--bodyColor);
  position: sticky;
  position: -webkit-sticky;
  top: -10vh;

  min-height: 20vh;
  padding: calc(var(--gap) * 2) calc((100vw - var(--minWidth)) / 2);
  transition: 0.2s ease-in-out;
  z-index: 10;
  width: 100%;
}
.logo {
  flex: 1 1 10px;
  max-width: 10rem;
  transition: 0.2s ease-in-out;
}
.menu {
  position: relative;
  flex: 2;
  display: flex;
  gap: calc(var(--gap) * 5);
  letter-spacing: 2px;
  justify-content: flex-end;
  text-transform: lowercase;
  transition: 0.2s ease-in-out;
}
.menu li a {
  padding: var(--gap);
  --fluid-type-max: 1.8rem;
}

/* --------------- banner ---------------*/
.banner_item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-content: center;
  grid-auto-rows: min-content;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 80vh;
  padding: 0 calc((100vw - var(--minWidth)) / 2);
}
.banner_item > * {
  grid-column: 1;
  padding: 8px 0 8px calc(var(--gap) * 10);
}
.banner h3 {
  color: var(--verdeNoventa);
  --fluid-type-max: 2rem;
  font-family: var(--fontFamP);
}

/* --------------- quebra ---------------*/

.quebra {
  display: grid;
  align-items: flex-end;
  background-image: url(img/linha.svg);
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 32vh;
  min-width: 100%;
  margin-top: calc(var(--gap) * 4);
}
/* --------------- quem sou ---------------*/

.quem-sou {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: calc(var(--gap) * 8);
  min-height: 95vh;
}
.quem-sou > div {
  /* padding: 0 calc(var(--gap) * 4); */
}
.quem-sou h3 {
  margin-bottom: calc(var(--gap) * 4);
}

.quem-sou p {
  max-width: 60ch;
}
.quem-sou p + p {
  padding-top: calc(var(--gap) * 3);
}
.quem-sou p:nth-child(2) {
  padding-bottom: calc(var(--gap) * 3);
}
.quem-sou_img {
  display: flex;
  place-items: center;
  border-radius: 3px;
  padding: 0;
  max-width: 60ch;
}

/* --------------- quote ---------------*/
.quote-bg {
  background-color: var(--verdeNoventa);
  text-align: center;
  color: white;
}
.quote {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: calc(var(--gap) * 2);
  max-width: 50%;
}

/* --------------- depoimentos ---------------*/
.depoimentos {
  margin-top: calc(var(--gap) * 4);
  min-height: 30vh;
  max-width: 100%;
}
.depoimentos h3 {
  margin-bottom: calc(var(--gap) * 4);
}
.depoimento {
  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: center;
}
.depoimento blockquote {
  text-align: center;
  color: var(--fontColCinza);
}
.depoimento cite {
  margin-top: calc(var(--gap) * 2);
  color: var(--verdeNoventa);
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  align-self: flex-end;
}

/* apresentação */
.apresentacao {
  display: grid;
  grid-template-columns: repeat(8, 1fr) 1fr;
  grid-template-rows: 1.5fr repeat(4, 1fr) 0.3fr;
}
.apresentacao-img {
  min-height: 95vh;
  background-image: url(img/apresentacao@2x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  grid-column: 1/5;
  grid-row: 1/-1;
}
.apresentacao-conteudo {
  justify-self: center;
  grid-column: 5/9;
  grid-row: 1/-1;
  padding-left: calc(var(--gap) * 8);
  align-self: center;
}
.apresentacao-conteudo p {
  max-width: 60ch;
}
.apresentacao-conteudo h3 {
  margin-bottom: calc(var(--gap) * 6);
}
.apresentacao-passaro {
  background-image: url(img/apresentacao-passaro@2x.png);
  background-repeat: no-repeat;
  background-size: contain;
  grid-column: 2/6;
  grid-row: 2/6;
}

/* servicos */
.servicos {
  display: grid;
  grid-auto-flow: row;
  place-items: center;
  margin-top: calc(var(--gap) * 4);
  max-width: 100%;
  min-height: 80vh;
  overflow: hidden;
}
.servicos-img {
  background-image: url(img/servicos-img.svg);
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100%;
  height: 400px;
  margin-top: calc(var(--gap) * 4);
}
.servicos ul li {
  margin-left: calc(var(--gap) * 0);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: calc(var(--gap) * 10);
  place-content: center;
}
.servicos .titulo {
  text-align: center;
}

/* -------------- Investimento profissional -------------- */
.investimento-bg {
  margin-top: calc(var(--gap) * 4);
  background-color: var(--verdeNoventa);
}
.investimento {
  min-height: 70vh;
  display: grid;
  grid-template-columns: 0.6fr 1.3fr 1fr;
  column-gap: calc(var(--gap) * 5);
  place-items: center;
}
.investimento h3,
.investimento p {
  text-align: left;
  color: white;
}
.investimento .col-1 {
  font-weight: bold;
  font-size: var(--fontSize2);
}
.investimento .btn {
  color: var(--fontColCinza);
  background-color: white;
  place-self: center;
  margin-top: calc(var(--gap) * 2);
}
.investimento .col-2 {
  display: flex;
  flex-direction: column;
  gap: calc(var(--gap) * 3);
}

/* -------------- media and screen -------------- */
@media (max-width: 960px) {
  .header {
    grid-template-columns: 1fr;
    place-items: center;
  }
  .quem-sou {
    grid-template-columns: 1fr;
    margin-bottom: calc(var(--gap) * 8);
  }
  .apresentacao {
    grid-template-columns: repeat(8, 1fr) 0.8fr;
    grid-template-rows: 1fr repeat(4, 1fr) 1fr;
  }
  .apresentacao-img {
    grid-column: 1/4;
  }
  .apresentacao-conteudo {
    grid-column: 4/9;
  }
  .apresentacao-passaro {
    grid-column: 1/5;
  }
}
